name: C-Compiler-Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y gcc

    - name: Compile C code
      run: gcc -o my_program main.c

    - name: Run compiled program
      run: ./my_program
